#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Objectives:
- List of popular languages
- List of common used libs
- Create single table in Jupyter
- List arithmetic expressions
- Use markdown and code cell expressions

#Some of the popular languages that Data Scientists use are:
### 1 Python
### 2 R
### 3 Julia

#Some of the commonly used libraries used by Data Scientists include:
### 1 Numpy
### 2 Pandas
### 3 Matplotlib

#Data Science Tools
| Data Science Tools| 
| -|
| TensorFlow |
| NLTK | 
| Apache Spark |

###Below are a few examples of evaluating arithmetic expressions in Python
|arithmic expressions|
|-|
| ** |exponentiations|
| // |integer division|
| % |modulus|

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60#
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200

Hours= 3
Minutes= 20

|##Author|
|-|
|Rawin|